.links{
  padding: 0rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.7rem 2rem;
}

.links a{
  color: var(--black);
  text-align: center;
  text-decoration: none;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background-color: var(--white);
  border-radius: 15px;
  border: none;
  transition: all 0.4s ease;

  border: solid var(--black);
  border-width: 2px;
  box-shadow: 0.1rem 0.1rem 0 var(--black);
}

.links a:hover{
  background-color: var(--secondary);
  color: var(--white);
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 0 var(--black);
}


@media (max-width: 85rem) {
  .links{
    gap: 1rem;
  }
  }
  
  @media (max-width: 55rem) {
    .links{
    gap: 0.7rem;
     padding: 0rem 0.5rem;
  } 
  }