.projetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: row;
  grid-gap: 0.5rem;
  margin: 3rem 0.2rem 4rem 0.2rem;
  padding: 1% 4% 0px;
}

.card{
  overflow: hidden;
  border-radius: 0.4rem;
  background-color: #FFFFF2;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 18px;
  cursor: pointer;

  border: solid var(--black);
  border-width: 4px;
  box-shadow: 3px 3px 0 var(--black);
}

.card:hover {
  box-shadow: 8px 8px 0 var(--black);
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.postText{
  color: var(--black);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 17px;
}

.floor{
  margin-top: 0.7rem;
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
  padding: 0.7rem;
  border-radius: 0.2rem;
  background-color: var(--secondary);


  border: solid var(--black);
  border-width: 2px;
}

.floor:hover{
  background-color: var(--white);
  color: var(--secondary);
  scale: 1.03;
  box-shadow: 0.1rem 0.1rem 0 var(--black);
}

@media (max-width: 991px) {
  .card {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}